body{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
form{
    width: 30%;
    position: relative;
    left: 40%;
    top: 2rem;
    border: 2px solid black;
    padding: 1rem;
    background-color: bisque;
}
span{
    color: red;
    margin-top: 0;
}
input{
    width: 100%;
}
textarea{
    width: 100%;
}
.checkbox{
    display: inline-block;
}